<div class="mat-elevation-z8">
  
    <table mat-table [dataSource]="products">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef >Id</th>
        <td mat-cell name ="id" *matCellDef="let row">{{row.id}}</td>
      </ng-container>
  
      <!-- Name Grupo -->
      <ng-container matColumnDef="id_grupo">
        <th mat-header-cell *matHeaderCellDef >Grupo</th>
        <td mat-cell name ="id_grupo" *matCellDef="let row">{{row.id_grupo}}</td>
      </ng-container>

      <!-- Name Marca -->
      <ng-container matColumnDef="id_marca">
        <th mat-header-cell *matHeaderCellDef >Marca</th>
        <td mat-cell name ="id_marca" *matCellDef="let row">{{row.id_marca}}</td>
      </ng-container>

      <!-- Name Descricao -->
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef >Descricao</th>
        <td mat-cell name ="descricao" *matCellDef="let row">{{row.descricao}}</td>
      </ng-container>

      <!-- Name Status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef >Status</th>
        <td mat-cell name ="status" *matCellDef="let row">{{row.status}}</td>
      </ng-container>

      <!-- Name Locacao -->
      <ng-container matColumnDef="id_locacao">
        <th mat-header-cell *matHeaderCellDef >Locacao</th>
        <td mat-cell name ="id_locacao" *matCellDef="let row">{{row.id_locacao}}</td>
      </ng-container>

      <!-- Name Estoque Mínimo -->
      <ng-container matColumnDef="estoque_min">
        <th mat-header-cell *matHeaderCellDef >Estoque Mínimo</th>
        <td mat-cell name ="estoque_min" *matCellDef="let row">{{row.estoque_min}}</td>
      </ng-container>

      <!-- Name Estoque Máximo -->
      <ng-container matColumnDef="estoque_max">
        <th mat-header-cell *matHeaderCellDef >Estoque Máximo</th>
        <td mat-cell name ="estoque_max" *matCellDef="let row">{{row.estoque_max}}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
   
  </div>
  