<mat-card>

<!-- <mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
 -->
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="products" >

    <!--ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef > ID </th>
      <td mat-cell *matCellDef="let row "> {{row.id}} </td>
    </ng-container>

    <!-- Grupo Column -->
    <ng-container matColumnDef="id_grupo">
      <th mat-header-cell *matHeaderCellDef > Grupo </th>
      <td mat-cell *matCellDef="let row"> {{row.id_grupo}} </td>
    </ng-container>

    <!-- Marca Column -->
    <ng-container matColumnDef="id_marca">
      <th mat-header-cell *matHeaderCellDef > Marca </th>
      <td mat-cell *matCellDef="let row"> {{row.id_marca}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef > Status </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.status}} </td>
    </ng-container>

    <!-- Descrição Column -->
    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef > Descricao </th>
      <td mat-cell *matCellDef="let row"> {{row.descricao}} </td>
    </ng-container>

    <!-- Locação Column -->
    <ng-container matColumnDef="id_locacao">
      <th mat-header-cell *matHeaderCellDef > Locação </th>
      <td mat-cell *matCellDef="let row"> {{row.id_locacao}} </td>
    </ng-container>

    <!-- Estoque Mínimo Column -->
    <ng-container matColumnDef="estoque_min">
      <th mat-header-cell *matHeaderCellDef > Estoque Mínimo </th>
      <td mat-cell *matCellDef="let row"> {{row.estoque_min}} </td>
    </ng-container>

    <!-- Estoque Máximo Column -->
    <ng-container matColumnDef="estoque_max">
      <th mat-header-cell *matHeaderCellDef > Estoque Máximo </th>
      <td mat-cell *matCellDef="let row"> {{row.estoque_max}} </td>
    </ng-container>

     <!-- Ações Column -->
     <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef > Ações </th>
      <td mat-cell *matCellDef="let row"> 
        <a class="edit" routerLink="/products/update/{{ row.id }}">
          <i class="material-icons ">
            edit
          </i>
        </a>
        <a class="delete" routerLink="">
          <i class="material-icons">
            delete
          </i>
        </a>
      </td>
    </ng-container>

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
</div>
 
</mat-card>



<!-- <table class="table table-success table-striped">
  <hr>
    <tr>
      <th *ngFor="let h of headers">{{h}}</th>
    </tr>
    
    <tr>
      <td *ngFor="let data of dataSource['data']">{{data[h]}}</td>
    </tr>
</table> -->