<h1 class="my-3 text-primary">
    Cadastrar Produto
</h1>
<div class="card shadow">
    <form class="m-3">
        <div class="row">
            <div class="col-md-12">
                <div class="form group">
                    <label for="Nome">Nome do Produto</label>
                    <input type="text"
                    class="form-control"
                    placeholder="Digite o nome do produto"
                    name="nome" [(ngModel)]= "produto.nome">
                </div>
            </div>
        </div><!-- Linha 1 -->
        <div class="row">
            <div class="col-md-4">
                <div class="form group">
                    <label for="grupo">Grupo</label>
                    <input type="text"
                    class="form-control"
                    placeholder="Digite o grupo do produto"
                    name="grupo" [(ngModel)]= "produto.id_grupo">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form group">
                    <label for="marca">Marca</label>
                    <input type="text"
                    class="form-control"
                    placeholder="Digite a marca do produto"
                    name="marca" [(ngModel)]= "produto.id_marca">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form group">
                    <label for="locacao">Locação</label>
                    <input type="text"
                    class="form-control"
                    placeholder="Digite a locação do produto"
                    name="locacao" [(ngModel)]= "produto.id_locacao">
                </div>
            </div>
            
        </div><!-- Linha 2 -->
        <div class="row">
            <div class="col-md-3">
                <div class="form group">
                    <label for="custo">Custo</label>
                    <input type="text"
                    class="form-control"
                    placeholder="Digite o custo do produto"
                    name="custo" [(ngModel)]= "produto.custo">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form group">
                    <label for="preco">Preço</label>
                    <input type="text"
                    class="form-control"
                    placeholder="Digite o preço do produto"
                    name="preco" [(ngModel)]= "produto.preco">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form group">
                    <label for="estoque">Estoque</label>
                    <input type="text"
                    class="form-control"
                    placeholder="Digite o estoque do produto"
                    name="estoque" [(ngModel)]= "produto.qtd_estoque">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form group">
                    <label for="imagem">Imagem</label>
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>
        </div><!-- Linha 3-->
        <div class="row">
            <div class="col">
                <button class="btn btn-default" routerLink="/product">
                    Voltar
                </button>
                <button class="btn btn-success float-right" (click)="salvarProduto()">
                    Salvar
                </button>
            </div>
        </div>
    </form>
    
</div>
