
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Código</label>
            <input type="text" class="form-control" id="id_produto">
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Grupo</label>
            <input type="text" class="form-control" id="nome_grupo">
        </div>


        <div class="form-group col-md-6">
            <label for="inputEmail4">Marca</label>
            <input type="text" class="form-control" id="nome_marca" placeholder="">
        </div>

        <div class="form-group col-md-6">
            <label for="inputEmail4">Locação</label>
            <input type="text" class="form-control" id="nome_locacao" placeholder="">
        </div>

        <div class="form-group col-md-6">
            <label for="inputEmail4">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="">
        </div>

        <div class="form-group col-md-6">
            <label for="inputEmail4">Custo</label>
            <input type="text" class="form-control" id="custo" placeholder="">
        </div>

        <div class="form-group col-md-6">
            <label for="inputEmail4">Preço</label>
            <input type="text" class="form-control" id="preco" placeholder="">
        </div>

        <div class="form-group col-md-6">
            <div class="form-row">
            <label for="inputEmail4">Estoque</label>
            <input type="text" class="form-control" id="estoque" placeholder="">
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/src/assets/images/eterna_nigro_panela.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>        
        

    


    
