<br />
<h1 class="my-3 text-primary">Listar Fornecedores
    <button type="button" routerLink="/fornecedores/cadastrar-fornec" class="btn btn-success mt-2 float-right">Cadastrar</button>
</h1>
<br />
<hr />
<div class="card shadow">
     <table class="table table-responsive table-striped">
         <thead>
             <tr>
                 <th>ID</th>            
                 <th>Razão Social</th>
                 <th>Endereço</th>
                 <th>CEP</th>
                 <th>Cidade</th>
                 <th>UF</th>
                 <th>Telefone</th>
                 <th>CNPJ</th>
                 <th>IE</th>
                 <th>Ações</th>
            </tr>
         </thead>
         <tbody>
             <tr *ngFor = "let list of listaFornecedores">
                 <td>{{ list.id }}</td>
                 <td>{{ list.nome }}</td>
                 <td>{{ list.endereco }}</td>
                 <td>{{ list.cep }}</td>
                 <td>{{ list.cidade }}</td>
                 <td>{{ list.uf }}</td>
                 <td>{{ list.telefone }}</td>
                 <td>{{ list.cnpj }}</td>
                 <td>{{ list.ie }}</td>
                 <td>
                     <button class="btn btn-warning" routerLink="/fornecedores/atualizar/{{ list.id }}" >
                         <i class="fa fa-pencil" aria-hidden="true"></i>
                     </button>
                     <button class="btn btn-danger ml-2">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                     </button>
                 </td>
            </tr>
         </tbody>
     </table>
</div>
