<!-- <div class="card" style="width: 18rem">
    <img [src]="" alt="" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">
            {{ nome | uppercase }}
            <span *ngIf="nome; else elseBlock" class="badge badge-success">
                Promoção
            </span>
            <ng-template #elseBlock>
                <span class="badge badge-primary">Aproveite</span>
            </ng-template>
        </h5>
        <p class="card-text">
            Identificação: {{ id_produto | number: "#" }} <br />
            Estoque: {{ qtd_estoque }} | number: "#"
        </p>
        <a href="#" class="btn btn-primary float-right">{{ preco | currency: "BRL" }}</a>
    </div>
</div> -->