<h1 class="my-3 text-primary">Cadastrar Produto</h1>
<div class="card shadow">
    <form [formGroup]="addForm" class="m-3" method="post" action="" (ngSubmit)="salvarProduto()" >
        <div class="row">
            <div class="col-md-12">
                <label for="nome">Nome do Produto</label>
                <input type="text" class="form-control" placeholder="Digite o nome do produto" formControlName="nome" name="nome">
            </div><!-- FIM ROW NOME -->
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="Id grupo">ID do Grupo</label>
                <input type="text" class="form-control" placeholder="Digite o grupo" formControlName="grupo" name="grupo">
            </div>    
        
            <div class="col-md-4">
                <label for="Id grupo">ID da Marca</label>
                <input type="text" class="form-control" placeholder="Digite a marca" formControlName="marca" name="marca">
            </div>    
              <div class="col-md-4">
                <label for="Id grupo">ID da Locação</label>
                <input type="text" class="form-control" placeholder="Digite a Locação" formControlName="locacao" name="locacao">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="custo">Custo</label>
                <input type="text" class="form-control" placeholder="Digite o custo" formControlName="custo" name="custo" >
            </div>
            <div class="col-md-4">
                <label for="preco">Preço</label>
                <input type="text" class="form-control" placeholder="Digite o preço" formControlName="preco" name="preco" >
            </div>
            <div class="col-md-4">
                <label for="Id grupo">Qtde. Estoque</label>
                <input type="text" class="form-control" placeholder="Digite a quantidade" formControlName="qtd_estoque" name="qtd_estoque">
            </div>
        </div><!-- FIM ROW LOCAÇÃO, CUSTO, PREÇO E ESTOQUE -->
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                    <label for="formFile" class="form-label">Selecione a imagem do produto</label>
                    <input class="form-control" type="file" id="formFile" formControlName="imagem_produto" name="imagem_produto">
            </div>
        </div>    
        <!-- FIM ROW QTDE. ESTOQUE E UPLOAD IMAGEM -->
        <div class="row">
            <div class="col">
                <button class="btn btn-default" routerLink="/produtos/listar-produtos">Voltar</button>
                <button class="btn btn-success float-right">Salvar</button>
            </div>
        </div>
    </form>    
</div>