<br />
<div class="container">
  
    <ul class="nav">
      <li class="brand"><img src="assets/images/cata-vento.jpg" width="45" height="50" alt="" class="d-inline-block align-text-top"></li>
      <li class="nav-item">
        <a href="" class="nav-link active"><i>Cata-Vento </i></a>
      </li>
        <li class="nav-item">
         <a class="nav-link active" href="#"><i class="fas fa-laptop-house"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/produtos/listar-produtos"><i class="fas fa-pencil-alt"></i>Produtos</a>
         </li>
         <li class="nav-item">
          <a class="nav-link active" href="#"><i class="fas fa-tools"></i>Serviços</a>
         </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register"><i class="fas fa-user-plus"></i>Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/fornecedores"><i class="fab fa-black-tie"></i>Fornecedores</a>
        </li>
        <li class="nav-item">
          <li class="nav-item">
          <a class="nav-link" routerLink="/clientepj"><i class="fas fa-utensils"></i>Cliente - PJ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/clientes"><i class="fas fa-coffee"></i>Clientes</a>
        <li>  
          <a class="nav-link" routerLink="/login"><i class="fas fa-sign-in-alt"></i>Login</a>
        </li>
               
      </ul>
      <hr />
      <router-outlet></router-outlet>
    </div>
    <ul class="nav">
      <li class="brand"><img src="assets/images/cata-vento.jpg" width="45" height="50" alt="" class="d-inline-block align-text-top"></li>
      <li class="nav-item">
        <a href="" class="nav-link active"><i>Cata-Vento </i></a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link active"><i>@Marcelo B. Freitas - Web Developer</i></a>
      </li>
    </ul>
        
    

<!-- Image and text -->
<!-- <nav class="navbar navbar-light bg-light">
  
  <ul class="nav">
    <li class="brand"><img src="assets/images/cata-vento.jpg" width="45" height="50" alt="" class="d-inline-block align-text-top"></li>
      <li class="nav-item">
       <a class="nav-link active" href="#"><i class="fas fa-laptop-house"></i>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/"><i class="fas fa-pencil-alt"></i>Produtos</a>
       </li>
       <li class="nav-item">
        <a class="nav-link active" href="#"><i class="fas fa-tools"></i>Serviços</a>
       </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register"><i class="fas fa-user-plus"></i>Cadastro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login"><i class="fas fa-sign-in-alt"></i>Login</a>
      </li>
             
    </ul>
</nav>
<hr /> -->
