<h4>Detalhes</h4>
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr>
                <td><strong>ID</strong></td>
                <td>{{user.id_usuario}}</td>
                
            </tr>
            <tr>
                <td><strong>E-mail</strong></td>
                <td>{{user.email}}</td>
            </tr>
        </table>
        <button type="button" class="btn btn-info btn-sm">Salvar Modificações</button>
    </div>
    <div class="col-md-6"></div>
</div>