<h1 class="my-3 text-primary">Atualizar Produto</h1>
<div class="card shadow">
    <form class="m-3">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="nome">Descrição do Produto</label>
                    <input type="text" class="form-control" placeholder="Digite a descrição do produto" name="descricaoProduto" [(ngModel)]="produto.descricao">
                </div>
            </div><!-- FIM ROW NOME -->
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Id grupo">ID do Grupo</label>
                <input type="text" class="form-control" id="id_grupo" placeholder="Digite o grupo" name="id_grupo" [(ngModel)]="produto.id_grupo">
                <!-- <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="grupo" [(ngModel)]="produto.id_grupo">
                    <option value="1">PANELA</option>
                    <option value="2">FOGÃO</option>
                    <option value="3">MÓVEIS</option>
                    <option value="4">FERRAGENS</option>
                    <option value="5">UTIL DOMÉSTICAS</option>
                    <option value="6">CAFETEIRA</option>
                    <option value="7">CANECAO</option>
                    <option value="8">LEITEIRA</option> 
                  </select> -->
                </div>
            </div>    
        
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Id grupo">ID da Marca</label>
                    <input type="text" class="form-control" id="id_marca" placeholder="Digite a marca" name="id_marca" [(ngModel)]="produto.id_marca">
                <!-- <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="marca" [(ngModel)]="produto.id_marca">
                    <option value="1">CLOCK</option>
                    <option value="2">EMPRESS</option>
                    <option value="3">ERILAR</option>
                    <option value="4">FULGOR</option>
                    <option value="5">GLOBO</option>
                    <option value="6">LARES</option>
                    <option value="7">MARMICOC</option>
                    <option value="8">NIGRO</option>
                    <option value="9">ROCHEDO</option>
                    <option value="10">PANEX</option>
                    <option value="11">PENEDO</option>
                    <option value="12">TRAMONTINA</option>
                    <option value="13">DAKO</option>
                    <option value="14">BRASTEMP</option>
                    <option value="15">ARNO</option>
                    <option value="16">PHILCO</option>
                    <option value="17">BRITANIA</option>
                    <option value="18">UNIV PANELA</option>
                    <option value="19">UNIV FOGAO</option>
                    <option value="20">UNIV MOVEIS</option>
                    <option value="21">UNIV FERRAGENS</option>
                    <option value="22">UNIV UTIL DOMEST</option>
                    <option value="23">CAFETEIRA ITALIA</option>
                    <option value="24">UNIV CANECAO</option>
                    <option value="25">UNIV LEITEIRA</option>
                    <option value="26">IMAR</option>
                    <option value="27">ALCAST</option>
                    <option value="28">VALENCIA</option>
                    <option value="29">RENATA</option>
                    <option value="30">SUPRENS</option>
                  </select> -->
                </div>
            </div>    
              <div class="col-md-4">
               <div class="form-group">
                <label for="Id grupo">ID da Locação</label>
                <input type="text" class="form-control" id="id_locacao" placeholder="Digite a Locação" name="id_locacao" [(ngModel)]="produto.id_locacao">
               </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="custo">Status</label>
                    <input type="text" class="form-control" id="status" placeholder="Digite o status A - Ativo e I - Inativo " name="status" [(ngModel)]="produto.status">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-grupo">
                    <label for="preco">Estoque Mínimo</label>
                    <input type="text" class="form-control" id="estoque_min" placeholder="Digite o estoque mínimo" name="estoque_min" [(ngModel)]="produto.estoque_min">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Id grupo">Estoque Máximo</label>
                    <input type="text" class="form-control" id="estoque_max" placeholder="Digite o estoque máximo" name="estoque_max" [(ngModel)]="produto.estoque_max">
                </div>
            </div>
        </div><!-- FIM ROW LOCAÇÃO, CUSTO, PREÇO E ESTOQUE -->
        <div class="row">
            <div class="col-md-6">

            
            
        <!-- FIM ROW QTDE. ESTOQUE E UPLOAD IMAGEM -->
        <div class="row">
            <div class="col">
                <button class="btn btn-default" routerLink="/produtos/listar-produtos">Voltar</button>
                <button class="btn btn-warning float-right" (click)="salvarProduto()">Salvar</button>
            </div>
        </div>
        
</div>