<br />
<h1 class="my-3 text-primary">Listar Produtos
    <button type="button" routerLink="/produtos/cadastrar" class="btn btn-success mt-2 float-right">Cadastrar</button>
</h1>
<br />
<hr />
<div class="card shadow">
     <table class="table table-responsive table-striped">
         <thead>
             <tr>
                 <th>ID</th>
                 <th>Nome</th>
                 <th>Preço de Custo</th>
                 <th>Preço de Venda</th>
                 <th>Locação</th>
                 <th>Qtde Estoque</th>
                 <th>Ações</th>
            </tr>
         </thead>
         <tbody>
             <tr *ngFor = "let list of listaProdutos['produtos']">
                 <td>{{ list.id_produto }}</td>
                 <td>{{ list.nome }}</td>
                 <td>{{ list.custo }}</td>
                 <td>{{ list.preco }}</td>
                 <td>{{ list.qtd_estoque }}</td>
                 <td>{{ list.id_locacao }}</td>
                 <td>
                     <button class="btn btn-warning">
                         <i class="fa fa-pencil" aria-hidden="true"></i>
                     </button>
                     <button class="btn btn-danger ml-2">
                        <i class="fa fa trash-o" aria-hidden="true"></i>
                     </button>
                 </td>
            </tr>
         </tbody>
     </table>
</div>
