<br />
<h1 class="my-3 text-primary">Listar Produtos
    <button type="button" routerLink="/produtos/cadastrar" class="btn btn-success mt-2 float-right">Cadastrar</button>
</h1>
<br />
<hr />
<div class="card shadow">
     <table class="table table-responsive table-striped">
         <thead>
             <tr>
                 <th>ID</th>            
                 <th>ID Grupo</th>
                 <th>ID Marca</th>
                 <th>Status</th>
                 <th>Descrição</th>
                 <th>Estoque Mínimo</th>
                 <th>Estoque Máximo</th>
                 <th>Locação</th>
                 <th>Ações</th>
            </tr>
         </thead>
         <tbody>
             <tr *ngFor = "let list of listaProdutos['produtos']">
                 <td>{{ list.id }}</td>
                 <td>{{ list.id_grupo }}</td>
                 <td>{{ list.id_marca }}</td>
                 <td>{{ list.status }}</td>
                 <td>{{ list.descricao }}</td>
                 <td>{{ list.estoque_min }}</td>
                 <td>{{ list.estoque_max }}</td>
                 <td>{{ list.id_locacao }}</td>
                 <td>
                     <button class="btn btn-warning" routerLink="/produtos/atualizar/{{ list.id }}" >
                         <i class="fa fa-pencil" aria-hidden="true"></i>
                     </button>
                     <button class="btn btn-danger ml-2">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                     </button>
                 </td>
            </tr>
         </tbody>
     </table>
</div>
