<!-- HEADER: PEÇAS, FORNECEDOR E SERVIÇOS -->
<div class="row">
    <div class="col md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/home_imagens/pecas_panela.jpg" width="70" height="170"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Peças</h5>
                <p class="card-text">Reposição de Peças de Panelas de Pressão Residenciais, Industriais, Colocação de
                    Cabos, Alças e entre Outros</p>
                <a href="#" class="btn btn-primary" routerLink="/produtos/listar-produtos">Peças de Reposição</a>
            </div>
        </div>
    </div>
    <div class="col md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/home_imagens/salatigas.png" width="130" height="200"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Fornecedores</h5>
                <p class="card-text">Emissão de Pedido de Compra para Fornecedores</p>
                <a href="#" class="btn btn-primary">Fornecedores</a>
            </div>
        </div>
    </div>
    <div class="col md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/home_imagens/maq_cortar_panela.jpg" width="100" height="190"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Serviços</h5>
                <p class="card-text">Colocação de Cabos, Alças, Anéis de Vedação, Selos de Segurança, Cortes de Panelas.
                </p>
                <a href="#" class="btn btn-primary">Serviços</a>
            </div>
        </div>
    </div>
</div>
<hr />
<!-- FIM: HEADER: PEÇAS, FORNECEDOR E SERVIÇOS -->

    <!-- CAROUSEL -->
    <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"
                aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7"
                aria-label="Slide 8"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8"
                aria-label="Slide 9"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8"
                aria-label="Slide 10"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8"
                aria-label="Slide 11"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/images/imagens_panela/2857720816_1GG.webp" class="d-block w-25" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Panela Rochedo</h5>
                    <p>Panela Rochedo 20L</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/images/imagens_panela/clock_4-5l.webp" class="d-block w-25" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Panela Clock 4,5L</h5>
                    <p>Palela Clock 4,5L Moderna</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/images/imagens_panela/eterna_nigro.webp" class="d-block w-25" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Panela Eterna Nigro</h5>
                    <p>Panela Eterna Nigro Fechamento Externo</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="assets/images/imagens_panela/eterna_nigro_12l.webp" class="d-block w-25" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Panela Eterna Nigro</h5>
                    <p>Panela Eterna Nigro Fechamento Externo</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="assets/images/imagens_panela/eterna_nigro_20l.webp" class="d-block w-25" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Panela Eterna Nigro</h5>
                    <p>Panela Eterna Nigro Fechamento Externo</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="assets/images/imagens_panela/eterna_nigro_6l.webp" class="d-block w-25" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Panela Eterna Nigro</h5>
                    <p>Panela Eterna Nigro</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="assets/images/imagens_panela/nigro_6l.webp" class="d-block w-25" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Panela Eterna Nigro</h5>
                    <p>Panela Eterna Nigro</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="assets/images/imagens_panela/nigro_expressa_7l.webp" class="d-block w-25" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Panela Nigro Expressa</h5>
                    <p>Panela NIgro Expressa</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="assets/images/imagens_panela/panelux_fech_ext_4-5l.webp" class="d-block w-25" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Panelux Fechamento Externo</h5>
                    <p>Panelux Fechamento Externo</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="assets/images/imagens_panela/rochedo_turbo_4-5l.webp" class="d-block w-25" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Panela Rochedo</h5>
                    <p>Panela Rochedo Turbo</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="assets/images/imagens_panela/tramontina_6l.webp" class="d-block w-25" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Panela Tramontina</h5>
                    <p>Panela Tramontina 6L</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="assets/images/imagens_panela/tramontina_vancouver 4-5l.webp" class="d-block w-25" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Panela Tramontina</h5>
                    <p>Panela Tramontina Vancouver 4,5L</p>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <br />
            
        </div>

    <!-- FIM: CAROUSEL-->    


   